In [1]:
from google.colab import drive
drive.mount('/drive')

Mounted at /drive

In [2]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
import pickle

# Load the data
data = pd.read_csv('/drive/My Drive/Job Tasks/kemet/Language_det_train.csv')

In [4]:
data.head()

                                                Text  Language
0  στη Γαλλία νωρίτερα ραντεβού χρησιμοποιήθηκε α...     Greek
1  e con ciò lei salì nella sua carrozza e senza ...   Italian
2                                       buna değmez.   Turkish
3  Viktiga skillnader är att i en wiki lagras sid...  Sweedish
4  تعرف على ما إذا كان شخص ما يقول نكتة رائعة يمك...    Arabic

In [5]:
data.isnull().sum()

Text        0
Language    0
dtype: int64

In [6]:
data["Language"].value_counts()

English       1316
French         963
Spanish        778
Portugeese     702
Italian        663
Russian        657
Sweedish       642
Malayalam      564
Dutch          519
Arabic         509
Turkish        450
German         446
Tamil          446
Danish         407
Kannada        351
Greek          347
Hindi           60
Name: Language, dtype: int64

data look clean

In [9]:
x = np.array(data["Text"])
y = np.array(data["Language"])

cv = CountVectorizer()
X = cv.fit_transform(x)
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.33, 
                                                    random_state=42)

In [12]:
model = MultinomialNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.9774760876272756

In [18]:
user = input("Enter a Text: ")
data = cv.transform([user]).toarray()
output = model.predict(data)
print(output)

Enter a Text: στη Γαλλία νωρίτερα
['Greek']

In [5]:
filename = '/drive/My Drive/Job Tasks/kemet/model.pkl'

In [22]:
with open(filename, 'wb') as fout:
    pickle.dump((cv, model), fout)

In [6]:
with open(filename, 'rb') as f:
    cv_loaded, model_loaded = pickle.load(f)

In [7]:
user = input("Enter a Text: ")
data = cv_loaded.transform([user]).toarray()
output = model_loaded.predict(data)
print(output)

Enter a Text: buna değmez.
['Turkish']